<h1>QR Quest</h1>
<p>Make your own quest with QR codes. Think up a phrase and split it into words. One word - one QR code
    that your participants have to find to collect the whole phrase. Lets go!
</p>
<div class="QR_button">
<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" 
aria-expanded="false" aria-controls="collapseExample">
Lets go
    </a>
</div>

<div class="collapse" id="collapseExample">
{{!--<div class="well">--}}
    {{> setupWords }}
{{!--</div>--}}
</div>