<h1>Setup your phrase</h1>
<p>How many words does your phrase consists?</p>

<div class="row">
<div class="col-md-2 col-md-offset-5">
    <div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" onClick='addWordForms()'>Next</button>
    </span>
    <input type="text" class="form-control" id='countOfWords' placeholder="Number...">
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</br>
{{!--создание полей ввода слов--}}
{{!--class = clearfix--}}
{{!--col-md-3 col-md-offset-2--}}
<div class="row" id='wordForms'>
    <div class="col-md-3 col-md-offset-2" id='word_1'>
        <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">1</span>
        <input type="text" class="form-control" placeholder="input the word..." aria-describedby="sizing-addon1">
        </div>
        </br>
    </div>
</div><!-- /.row -->
</br>

<div class="row">
    <div class="QR_button">
        <button type="button" id="doneButton" class="btn btn-primary" onclick="collectPhrase">Done</button>
    </div>
</div><!-- /.row -->