body {
  background-color: antiquewhite; 
}

.jumbotron {
background-color: antiquewhite; 
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron p {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.jumbotron .row {
  text-align: center;
}

.QR_button {
  text-align: center;
}

.rightPhrasesClass {
  display: block;
  text-align: center;
  /*max-width: 400px;*/
  margin-left: 50px;
  margin-right: 50px;
}

#rightPhrases input[type="text"] {
  margin-top: 10px;
  margin-bottom: 10px;
}

#sliceButtons button[type="button"] {
  margin-left: 2px;
  margin-right: 2px;  
}