h1= QR_title
p Make your own quest with QR codes. Think up a phrase and split it into words. One word - one QR code that your participants have to find to collect the whole phrase. Lets go!

div.QR_button
 a(class='btn btn-primary' role='button' data-toggle='collapse' href='#collapseExample' aria-expanded='false' aria-controls='collapseExample') Lets go

div(class='collapse' id='collapseExample')
    include setupWords.pug