div.rightPhrasesClass#toHideRightPhrases
    br
    p Setup variants of right phrases 
    br
    div#rightPhrases
     input(type="text" id="inputPhraseField_1" class="form-control" placeholder="Text input")

    div.row
     div.QR_button#sliceButtons
      button(type="button" id="oneMoreButton" class="btn btn-primary" onclick="oneMoreTextField()") one more
      button(type="button" id="doneButton_1" class="btn btn-success" onclick="doneAction()") Done
    
    div#sendForm


script.
    var numberOfRightPhraseFields = 1;
    function oneMoreTextField() {
        // передавать верные фразы
        var baseID = 'inputPhraseField_';
        var numberOfField = numberOfRightPhraseFields;
        //- while (document.getElementById(baseID+numberOfField).value != null) {
        //-     numberOfField++;
        //- }
        var IDToClone = baseID+numberOfField;
        var innerText = document.getElementById(IDToClone).value;
        fullyCloneDivWithElementInside('rightPhrases', IDToClone, innerText);
        numberOfRightPhraseFields++;
    }

    function doneAction() {

        var newDiv = document.createElement('DIV');
        newDiv.innerHTML = "\
        <br> \
        <form class='form-inline'> \
            <div class='form-group'> \
                <label for='exampleInputName2'>Name</label> \
                <input type='text' class='form-control' id='exampleInputName2' placeholder='Your name'> \
            </div> \
            <div class='form-group'> \
                <label for='exampleInputEmail2'>Email</label> \
                <input type='email' class='form-control' id='exampleInputEmail2' placeholder='email'> \
            </div> \
            <button type='submit' class='btn btn-success' onclick='sendQuestAction()'>Send quest</button> \
        </form>";
        document.getElementById('sendForm').appendChild(newDiv);
    }

    function sendQuestAction() {
        var name = document.getElementById('exampleInputName2').value;
        var email = document.getElementById('exampleInputEmail2').value;
        var phraseWords = getWordsInArray();
        var countOfPhrases = numberOfRightPhraseFields;
        var rightPhrases = getRightPhrasesArray(numberOfRightPhraseFields);
        var content = "Добрый день " + name + ". Ваш квест сгенерирован.";
        // что-то не так с ссылкой. Когда мало инфы, все работает
        $.get("http://localhost:3000/api/sendEmail",{name:name,to:email,content:content,phraseWords:phraseWords,rightPhrases:rightPhrases}, function(data){
            if (data == "sent") {
                //- alert('ГДЕ ВСЕ?');
                //- var dataToString = JSON.parse(data);
                //- var title = data.QR_infoTitle;
                var status = data;
                //- document.reload();
                document.location.href = "http://localhost:3000/sendEmail";
            }
        });
    }

//- сделать отправку email по нажатии на кнопку