h1 Setup your phrase
p How many words does your phrase consists?

div.row
 div(class="col-md-2 col-md-offset-5")
  div(class="input-group")
    span(class="input-group-btn")
      button(class="btn btn-primary" type="button" onClick='addWordForms()') Next
    input(type="text" class="form-control" id='countOfWords' placeholder="Number...")
br
//- {{!--создание полей ввода слов--}}
//- {{!--class = clearfix--}}
//- {{!--col-md-3 col-md-offset-2--}}

div.row#wordForms
 div(class="col-md-3 col-md-offset-2" id='word_1')
   div(class="input-group input-group-lg")
    span(class="input-group-addon" id="sizing-addon1") 1 
    input(type="text" class="form-control" placeholder="input the word..." aria-describedby="sizing-addon1")
   br
br

div.row
 div.QR_button
   button(type="button" id="doneButton" class="btn btn-primary" onclick="collectPhrase()") Done

include rightPhrases.pug
   
script.
    function collectPhrase() {
        var wholePhrase = "";
        var countOfWords = document.getElementById('countOfWords').value;

        for (var i = 1; i <= countOfWords; i++) {
            var wordElement = document.getElementById('word_'+i);
            var word = wordElement.childNodes[0].childNodes[1].value;
            word = word.replace(/^\s+|\s+$/g, "");
            var space = (i == countOfWords ? '' : ' ');
            wholePhrase = wholePhrase.concat(word) + space;
        }
        wholePhrase = wholePhrase.toUpperCase();

        document.getElementById('doneButton').style.visibility = "hidden";
        document.getElementById('toHideRightPhrases').style.visibility = "visible";

        document.getElementById('inputPhraseField_1').value = wholePhrase;

    }